<h1>Editing Artist Album</h1>

<%= render 'form', artist_album: @artist_album %>

<%= link_to 'Show', @artist_album,:class => "btn btn-primary" %> |
<%= link_to 'Back', artist_albums_path,:class => "btn btn-primary" %>
